{:tasks {download-data {:doc "Download the data from the google sheets"
                        :task (shell "bb download_data.clj")}
         build-content {:doc "Build the html files"
                        :task (shell "bb build_content.clj")}
         build-styles {:doc "Build the css files"
                       :task (do (shell "npx tailwindcss -i styles.css -o dist/styles.css --minify")
                                 (println "DONE: creating styles.css")
                                 (run 'inline-css))}
         inline-css {:doc "Inline the generated CSS into HTML"
                     :task (shell "bb inline_css.clj")}        
         build {:doc "Build the website"
                :task (do (run 'build-content)
                          (run 'build-styles))}
         dev-server {:doc "Start the dev server"
                     :task (shell "npx wrangler pages dev dist --ip 0.0.0.0")}
         dev-styles {:doc "Start tailwind to watch for changes"
                     :task (shell "npx tailwindcss -i styles.css -o dist/styles.css --watch")}
         clean {:doc "Clean the project"
                :requires ([babashka.fs :as fs])
                :task (doseq [item (filter (fn [s] (not (.startsWith s "#"))) (fs/read-all-lines ".gitignore"))]
                        (fs/delete-tree item))}
         deploy {:doc "Deploy to Cloudflare Pages"
                 :task (shell "npx wrangler pages deploy dist --project-name austinbikegroups")}}}
